tr,td{
    border-color:white;
}
table{
    width:100%;
    height:90%;
    padding:0px;
    position:absolute;
    border-collapse: collapse;
}
tr{
  width:100%;
  height:25%;
}
td{
  width:25%;
  height:25%;
}
input{
  position:relative;
  left:45%;
  margin-top:5px;
}
h1{
    font-size:150%;
    margin:0;
    padding:0;
    text-align:center;
    position:relative;
    color:white;
}
#scorePlayerO, #scorePlayerX{
  position:absolute;
  margin:10px;
}
#scorePlayerO{
  left:0px;
  top:0px;
  color:red;
}

#scorePlayerX{
  right:0px;
  top:0px;
  color:blue;
}