/* CSS file placeholder. */

body{
  padding:0;
  margin:0px;
  background-color:#2A2D33;
  webkit-app-region: drag;
}

#exitAppElement, #minAppElement{
  height:12px;
  width:12px;
  position:relative;
  
  display:inline;
  float:right;
  margin:2px;
  margin-right:3px;
  margin-top:4px;
  
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  
  opacity:0.6;
}
input{
  -webkit-app-region: no-drag;
}
#exitAppElement:hover, #minAppElement:hover{
  opacity:1;
}

#exitAppElement{
  background-color:#ff4d4d;
  margin-right:5px;
}

#minAppElement{
  background-color:green;
}