body{
  background-color:#2A2D33;
  margin:0;
  -webkit-app-region: drag;
}

h1{
  text-align:center;
  font-family: 'Roboto', sans-serif;
  margin-top:100px;
}

input{
  height:12px;
  width:12px;
  position:relative;
  
  display:inline;
  float:right;
  margin-right:3px;
  margin-top:4px;
  
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  
  opacity:0.6;
  -webkit-app-region: no-drag;
}

input:hover{
  opacity:1;
}

#exitAppElement{
  background-color:#ff4d4d;
  margin-right:5px;
}

#minAppElement{
  background-color:green;
}

#welcomeMessage{
  color:#e3e3e3;
  position:relative;
  padding:10px;
  border: 3px solid #e3e3e3;
}

#welcomeMessage:hover{
  color:white;
  border-color:white;
}

#roundDropDown{
  width:150px;
  height:25px;
  margin-left:34%;
  margin-top:40px;
  -webkit-app-region: no-drag;
}

#toundDropDown option{
  text-align:center;
}